.contact {
  margin-top: 13px;
  margin-left: 20px;
  display: flex;
  max-width: 95%;
}

.contact .icon {
  margin-right: 15px;
  text-align: center;
}

.contact .text {
  width: 69%;
  padding-top: 4px;
  padding-right: 10%;
  font-size: 0.9rem;
  
  overflow-wrap: break-word;
}

.contact a:hover {
  text-decoration: underline;
}