.title {
  right: 25px;
  padding-left: 20px;
  padding-top: 20px;
  bottom: 25px;

}

.title h2 {
  text-transform: uppercase;
  display: block;
  font-size: 1.17em;
  color: #fff;
  color: rgba(0, 0, 0, .7);
  padding-top: 0;
  margin-top: 0;
  letter-spacing: 10px;
  font-size: 2rem;
font-weight: bold;
}

.title div {
  margin-top: -5px;
  margin-top: 0;
  margin: 0;
  padding: 0;
  line-height: 15pt;
  font-weight: 300 !important;
  letter-spacing: 2px;
  color: #fff;
  color: #f58664;
  display: block;
  font-size: 1.5rem !important;
  padding-top: 0
}

.section-headline,
.title div {
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 10pt;
  text-transform: uppercase;
  opacity: .8
}

.section-headline {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #3f3d3c
}

.cargo {
  color: #f58664;  
  font-weight: 600;
}

.empresa {
  color: #4b86b4;
}